@model Capstone.Models.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType.DocumentTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentType.DocumentTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Llc.LlcName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Llc.LlcName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CniPosRequestorUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CniPosRequestorUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CniContractNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CniContractNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdParty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdParty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentStatus.DocumentStatusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentStatus.DocumentStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DraftedByUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DraftedByUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkToDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkToDocument)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocumentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
