@model IEnumerable<Capstone.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Overview</h1>

<table>
    <tbody>
        <tr> <!--Table Headers-->
            <td><h3>nearing completion</h3></td>
            <td><h3>potentially neglected</h3></td>
        </tr>
        <tr>
            <td>
                <!--'nearing completion' Table-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                CNI LLC
                            </th>
                            <th>
                                Contract ID
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th>
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Subcontract</td>
                            <td>Chickasaw Strategic Pointe</td>
                            <td>1709</td>
                            <td>Drafting</td>
                            <td>3/20/2023</td>
                            <td>link</td>
                        </tr>
                        <tr>
                            <td>Subcontract Mod</td>
                            <td>DIGITALiBiz</td>
                            <td>1732</td>
                            <td>Approval</td>
                            <td>2/27/2023</td>
                            <td>link</td>
                        </tr>
                        <tr>
                            <td>ATP</td>
                            <td>Chickasaw Business Solutions</td>
                            <td>1716</td>
                            <td>Filing</td>
                            <td>2/15/2023</td>
                            <td>link</td>
                        </tr>
                        <tr>
                            <td>Task Order</td>
                            <td>Technology trends group</td>
                            <td>1699</td>
                            <td>Negotation</td>
                            <td>2/19/2023</td>
                            <td>link</td>
                        </tr>
                        <tr>
                            <td>Task Order Mod</td>
                            <td>Chickasaw management services</td>
                            <td>1689</td>
                            <td>Signature</td>
                            <td>3/03/2023</td>
                            <td>link</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <!--'potentially neglected' Table-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                CNI LLC
                            </th>
                            <th>
                                Contract ID
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th>
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ATP</td>
                            <td>Chickasaw Defense Group</td>
                            <td>1599</td>
                            <td>Signature</td>
                            <td>2/02/2023</td>
                            <td>link</td>
                        </tr>
                        <tr>
                            <td>Task Order</td>
                            <td>Chickasaw Defense Logistics</td>
                            <td>1614</td>
                            <td>Signature</td>
                            <td>1/26/2023</td>
                            <td>link</td>
                        </tr>
                        <tr>
                            <td>Subcontract</td>
                            <td>CNI Advantage</td>
                            <td>1647</td>
                            <td>Signature</td>
                            <td>1/22/2023</td>
                            <td>link</td>
                        </tr>
                        <tr>
                            <td>Subcontract Mod</td>
                            <td>Filtra-Systems Company</td>
                            <td>1622</td>
                            <td>Signature</td>
                            <td>1/18/2023</td>
                            <td>link</td>
                        </tr>
                        <tr>
                            <td>Task Order Mod</td>
                            <td>IPKeys</td>
                            <td>1650</td>
                            <td>Signature</td>
                            <td>1/06/2023</td>
                            <td>link</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--Index Table-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlcID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CniPosRequestorUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CniContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VersionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentStatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkToDocument)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType.DocumentTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Llc.LlcName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CniPosRequestorUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CniContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentStatus.DocumentStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DraftedByUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkToDocument)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
