@model IEnumerable<Capstone.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Overview</h1>

<table>
    <tbody>
        <tr> <!--Table Headers-->
            <td><h3>Nearing Completion</h3></td>
            <td><h3>Potentially Neglected</h3></td>
        </tr>
        <tr>
            <td>
                <!--'nearing completion' Table-->
                <table class="table display" id="nearing-completion">
                    <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                CNI LLC
                            </th>
                            <th>
                                Contract ID
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th>
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.DocumentStatusID == 6).OrderBy(x => x.DateLastUpdated).Take(5))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentType.DocumentTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Llc.LlcName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CniPosRequestorUser.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentStatus.DocumentStatusName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateLastUpdated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LinkToDocument)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            <td>
                <!--'potentially neglected' Table-->
                <table class="table display" id="potentially-neglected">
                    <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                CNI LLC
                            </th>
                            <th>
                                Contract ID
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th>
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var item in Model.OrderBy(x => x.DateLastUpdated).Take(5))
                            {
                            <tr>
                                <td>
                                        @Html.DisplayFor(modelItem => item.DocumentType.DocumentTypeName)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.Llc.LlcName)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.CniPosRequestorUser.Email)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.DocumentStatus.DocumentStatusName)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.DateLastUpdated)
                                </td>
                                <td>
                                        @Html.DisplayFor(modelItem => item.LinkToDocument)
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<div style="height: 50px;"></div>


<h1>Documents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--Index Table-->
<table class="table display" id="document-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlcID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CniPosRequestorUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CniContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VersionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentStatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastUpdated)
            </th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            var backgroundColor = item.DocumentStatus.DocumentStatusColor;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType.DocumentTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Llc.LlcName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CniPosRequestorUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CniContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionNumber)
            </td>
                <td style="background-color:@item.DocumentStatus.DocumentStatusColor;">
                @Html.DisplayFor(modelItem => item.DocumentStatus.DocumentStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DraftedByUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastUpdated)
            </td>
            <td>
                    @{
                        if (item.LinkToDocument != null)
                        {
                            <a href="@item.LinkToDocument" target="_blank" rel="noopener noreferrer">Link</a> <span> |</span>
                        }
                    }
                <a asp-action="Edit" asp-route-id="@item.DocumentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

@section scripts{
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $("#document-table").DataTable({
                'columnDefs': [{
                    'targets': [9],
                    'orderable': false,
                    'searchable': false,
                }],
                'order': [[8, 'asc']],
            });
        });
    </script>
}