@model IEnumerable<CapstoneProject.Models.UserLlc>

@{
    ViewData["Title"] = "Index";
}

<h1>User-LLCs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlcId)
            </th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Llc.LlcName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserLlcId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserLlcId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserLlcId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
